<h1>Dashboard</h1>

<h3>Current Information</h3>
<br>
<h5><b>Name:</b> {{user.name}}</h5>
<h5><b>Username:</b> {{user.username}}</h5>
<h5><b>City:</b> {{user.city}}</h5>
<h5><b>State:</b> {{user.state}}</h5>
<h5><b>Country:</b> {{user.country}}</h5>
<h5><b>Email:</b> {{user.email}}</h5>
<br>
<h5><a href="/users/change-password">Change Your Password</a></h5>
<h5><a href="/users/change-location">Change Your Location</a></h5>

<br><br>

<a class="btn btn-danger" href="/">Return Home</a>
